.store, .result, .retrieve{
    padding: 10px;
    width: 50%;
    border: 1px solid #eae1e1;
    border-radius: 10px;
}

.result{
    margin: 10px;
    margin-left: 450px;
}

.retrieve{
    position: absolute;
    top: 72px;
    right: 50px;
    width: 40%;
}

.header{
    text-align: center;
    font-size: 25px;
    color: #6363bb;
}
.products{
    padding: 1%;
    margin: 1%;
    margin-left: 5%; 
    border: 1px solid #e6d7d7;
}

.products img{
    padding: 3%;
    width: 90%;
}
.name{
    position: relative;
    margin-top: -0.8%;
    color: gray;
}
.price{
    color: #484865;
    position: absolute;
    font-weight: 600;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 18px;
    background: #27252524;
}